<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CLUUserAgent_OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CLUUserAgent_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OSX_Example.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>iOS_Example.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF136B8C1B4003980037FFA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF136BA51B4003980037FFA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF136BB81B4003BC0037FFA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF136BC21B4003BC0037FFA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF136BDC1B4003CE0037FFA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF136BEE1B4003CE0037FFA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF136C011B4003EC0037FFA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF136C0B1B4003EC0037FFA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
